.container-right {
	background-color: var(--background-light);
}

@media screen and (max-width: 1279px) {
	.page-template-template-ribbon .container-right {
		padding-top: 1em;
	}
}

@media screen and (min-width: 1280px) {

	main {
		margin-left: 20vw;
	}

	.ribbon-container {
		max-width: 40%;
		height: 100vh;
		background: rgba(247, 247, 245, .92);
		display: flex;
		flex: 0 0 40%;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		z-index: 10;
	}

	.ribbon-container-bottom {
		flex: 0 0 30%;
		background: rgba(0, 0, 0, .3);
		align-items: flex-end;
		justify-content: flex-end;
	}

	.ribbon-container-right {
		margin-left: 37vw;
		padding-top: 10vh;
		padding-bottom: 40vh;
	}

	.ribbon-container-right .fixed-image {
		width: 37vw;
		z-index: 5;
	}

	.container-right {
		min-height: 100vh;
		margin-left: 37vw;
		padding-top: 10vh;
		padding-bottom: 10vh;

		.fixed-image figure {
			width: 37vw;
			z-index: 5;
		}
	}
}
