// RESET

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

figure {
	margin: 0;
}

button:focus {
	outline: 0;
}

@media screen and (max-width: 1279px) {

	main {
		overflow: hidden;
	}

	main>section {
		margin-bottom: 15%;
	}

	main>section:last-child {
		margin-bottom: 0;
	}
}
