// RESET

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

figure {
	margin: 0;
}

button:focus {
	outline: 0;
}

@media screen and (max-width: 1279px) {

	main {
		overflow: hidden;
	}

	main>section {
		margin-bottom: 15%;
	}

	main>section:last-child {
		margin-bottom: 0;
	}
}

// Images

.fixed-image {
	position: relative;
	z-index: 4;
}

.fixed-image img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1279px) and (orientation: landscape) {

	.fixed-image img {
		width: 100%;
		height: auto;
	}
}

@media screen and (min-width: 1280px) {
	.fixed-image {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 20vw;
		right: 0;
		z-index: -100;
		overflow: hidden;
		-webkit-transition: opacity 1s linear;
		-o-transition: opacity 1s linear;
		transition: opacity 1s linear;
	}

	.fixed-image img {
		height: 100vh;
		width: auto;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: -100;
	}

	.image-43 img {
		height: auto;
		width: 100%;
	}
}
