.bg-home {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#bg-01 {
	z-index: -99;
}

// Image container

.wide-image {
	position: relative;
	z-index: 4;
}

.wide-image img {
	width: 100%;
	height: auto;
}

.fixed-image {
	position: relative;
	z-index: 4;
}

.fixed-image img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1279px) {

	.bg-cycler {
		display: none;
	}
}

@media screen and (min-width: 1280px) {

	.wide-image {
		display: none;
	}

	.image--43 img {
		height: auto;
		width: 100%;
	}

	.fixed-image {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 20vw;
		right: 0;
		z-index: -100;
		overflow: hidden;
		transition: opacity 1s linear;
	}

	.fixed-image img {
		margin-left: 50%;
		transform: translateX(-50%);
		z-index: -100;
	}

	.container-right {
		.fixed-image {
			figure {
				width: 37vw;
				z-index: 5;
			}
		}
	}
}