// Base sizing

html {
	font-size: 18px;
}

@media screen and (min-width: 1921px) {
	html {
		font-size: 14px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	html {
		font-size: 16px;
	}
}

// Font Resets

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
	font-family: 'EB Garamond', serif;
	color: var(--font-main);
}

p,
a,
li {
	line-height: 1.6rem;
	font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
