header {
	background-color: antiquewhite;
	height: 100vh;
	width: 300px;
	position: fixed;
}

a {
	display: block;
	text-decoration: none;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

.active {
	color: orange;
}

.content-left {
	flex: 0 0 40%;
	background: rgba(245,245,220,.5);
}

.content-left section {
	height: 100vh;
}

article h2 {
	color: red;
}

.background {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  transition: background 1.5s ease-out;
	margin-left: 300px;
}

#home-background {
	background-image: url(/images/flowers/rose.jpg);
}