// Content classes

.content {
	padding-left: 8vw;
	padding-right: 8vw;
	text-align: center;
}

.content li {
	text-transform: none;
	padding: .5em 0;
}

@media screen and (min-width: 1280px) {
	.content {
		text-align: left;
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

// Entry content

.entry-content {
	padding: 0 2vw;
	margin-bottom: 2em;

	h2 {
		padding: 0 3vw;
	}

	h3 {
		padding: 0 3vw;
	}

	p {
		padding: 0 3vw;
	}

	a {
		color: var(--font-green);
	}

	hr {
		margin-left: 3vw;
		margin-right: 3vw;
		border-style: none;
		height: 1px;
		background-color: var(--border-hr);
	}

	.wp-block-table {
		text-align: left;
		table-layout: fixed;
		width: 100%;
		padding: 0 3vw;

		tbody {
			td:nth-child(1) {
				width: 55%;
			}

			td:nth-child(2) {
				width: 30%;
			}

			td:nth-child(3) {
				width: 7.5%;
			}

			td:nth-child(4) {
				width: 7.5%;
				text-align: right;
			}
		}
	}

	.wp-block-image {
		figure {
			position: relative;
			z-index: 4;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

// Narrow image window at fullscreen

@media screen and (max-width: 1279px) and (orientation: landscape) {

	.entry-content {
		.wp-block-image {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

@media screen and (min-width: 1280px) {

	.entry-header {
		text-align: left;
		padding: 0 2vw;
	}

	.entry-content {
		padding: 0 2vw;

		h2 {
			padding: 0;
		}

		h3 {
			padding: 0;
		}

		p {
			padding: 0;
			text-align: left;
		}

		hr {
			margin-left: 0;
			margin-right: 0;
		}

		.wp-block-table {
			padding: 0;

			tbody {
				td:nth-child(1) {
					width: 60%;
				}

				td:nth-child(2) {
					width: 30%;
				}

				td:nth-child(3) {
					width: 5%;
				}

				td:nth-child(4) {
					width: 5%;
				}
			}
		}

		.wp-block-image {
			figure {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: -100;
				overflow: hidden;
				transition: opacity 1s linear;

				img {
					height: 100vh;
					width: auto;
					max-width: none;
					margin-left: 37%;
					transform: translateX(-60%);
					z-index: -100;
				}
			}
		}
	}
}