.contact-images figure {
	height: 300px;
	overflow: hidden;
	margin-bottom: 2em;
}

.contact-images img {
	width: auto;
	height: 100%;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.contact-sign {
	margin-top: 2em;
}



@media screen and (min-width: 1280px) {

	#main-contact .ribbon-container-right {
		padding-bottom: 5em;
	}

	.contact-images {
		display: flex;
		flex-flow: row;
		margin-top: 2em;
	}

	.contact-images figure {
		height: 200px;
		margin-bottom: 0;
	}

	.contact-sign {
		margin-right: 1em;
		margin-top: 0;
	}

	.contact-maps {
		flex: 0 0 40%;
		margin-bottom: 0;
	}
}