.home {

	li,
	a {
		text-transform: uppercase;
	}

	.wp-block-button {
		margin-top: 2.5em;
		color: #8b8b88;

		.wp-block-button__link {
			border: 1px solid var(--font-light);
			background-color: rgba(245, 245, 242, 0.3);
			padding: .5em 1.2em;
			letter-spacing: .15em;
			color: var(--font-light);
			transition: border-color .3s linear, color .3s linear, background-color .3s linear;
			white-space: nowrap;
			text-transform: uppercase;
		}

		.wp-block-button__link:hover {
			border-color: var(--font-main);
			color: var(--font-main);
			background-color: rgba(245, 245, 242, 0.5);
		}
	}

	.post:last-of-type {
		.wide-image {
			img {
				min-height: 500px;
				width: auto;
			}
		}

		.wp-block-button {
			margin-top: 1.5em;
		}
	}
}

@media screen and (max-width: 1279px) {

	.home {
		.entry-header {
			.title-group {
				.title-secondary {
					display: none
				}

				hr {
					display: none;
				}
			}
		}

		.entry-content {
			text-align: center;
			margin: 0 auto;

			.wp-block-button {
				display: inline-block;
			}
		}
	}

	.post:last-of-type {
		// local 396
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;

		.gradient-down::after {
			display: none;
		}

		.wide-image {
			img {
				min-height: 500px;
				width: auto;
			}
		}

		.wp-block-button {
			.wp-block-button__link {
				color: var(--font-white);
				border: 1px solid var(--font-white);
				background-color: rgba(244, 244, 240, .35);
				padding: .5em 1em;
				letter-spacing: .15em;
				transition: border-color .3s linear, color .3s linear, background-color .3s linear;
				white-space: nowrap;
				text-transform: uppercase;
			}

			.wp-block-button__link:hover {
				background-color: rgba(244, 244, 240, .4);
			}
		}
/*
		.wp-block-button:first-of-type {
			margin-right: 24px;
		}
*/
		.ribbon-container {
			position: absolute;
			z-index: 10;

			.entry-header {
				display: none;
			}

			p {
				color: white;
				font-size: 1.6em;
				line-height: 40px;
			}
		}
	}
}

@media screen and (min-width: 1280px) {

	.home {
		.ribbon-container {
			align-items: flex-start;

			.entry-header {
				text-align: left;
				margin-left: 0;
				padding: 0 3vw;

				.title-group {
					text-align: left;

					hr {
						margin-left: 0;
						width: 140px;
						height: 1px;
						background-color: #bdbdb7;
						border: none;
					}
				}
			}

			.entry-content {
				padding: 0 3vw;

				.wp-block-button {
					margin-top: 2.5em;
				}
			}
		}

		.post:first-of-type {
			.wide-image {
				z-index: 3;
			}
		}

		.post:last-of-type {
			.entry-header {
				display: none;
			}

			.entry-content {
				p {
					line-height: 32px;
					font-size: 1.4em;
				}
			}

			.scrollDown {
				display: none;
			}
		}
	}
}