/*//

emaidalat.com

BREAKPOINTS:

mobile first
tablet => 768px
desktop => 1024px
widescreen => 1280
hd => 1600

//*/

/*////////////////////
	RESET
////////////////////*/

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

figure {
	margin: 0;
}

html {
	font-size: 16px;
}

/*////////////////////
	GLOBAL TYPOGRAPHY
////////////////////*/

/*// FONTS //*/

@font-face {
	font-family: antro;
	src: url(../fonts/Antro_Vectra.otf);
}

@font-face {
	font-family: coffee;
	src: url(../fonts/coffee+tea.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Amiri');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
	font-family: 'Amiri', serif;
	letter-spacing: .1rem;
}

p,
a,
li {
	color: var(--font-dark);
}

p,
li {
	line-height: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	color: var(--font-main);
}

@media screen and (min-width:450px) {
	p,
	a,
	li {
		font-size: 1rem;
	}
}

@media screen and (min-width:768px) {
	p,
	a,
	li {
		font-size: 1.05rem;
	}
}

@media screen and (min-width:1024px) {
	p,
	a,
	li {
		font-size: 1.1rem;
	}
}

@media screen and (min-width:1280px) {
	p,
	a,
	li {
		font-size: 1.15rem;
	}
}

@media screen and (min-width:1600px) {
	p,
	a,
	li {
		font-size: 1.2rem;
	}
}

/* Font classes */

.link-underline {
	text-decoration: underline;
	color: var(--font-green);
}

.link-bold {
	color: var(--font-dark);
	font-weight: bold;
}

.text-condition {
	color: var(--grey-77);
	font-size: .9em;
}

/* Header classes */

.double-header > h2 {
	font-size: 1.3em;
	letter-spacing: .15em;
	margin: 0;
	margin-top: 2rem;
	text-transform: uppercase;
	color: var(--font-main);
}

.double-header > h3 {
	font-size: 1.6em;
	margin: 0;
	margin-bottom: 2rem;
	color: black;
}

#main-home .double-header > h3 {
	font-size: 1.4em;
}

.header-caps {
	text-transform: uppercase;
	font-size: 1.4em;
	margin: 3rem 0 2rem 0;
	color: black;
}

@media screen and (max-width:1279px) {

	.header-full {
		display: none
	}
}

@media screen and (min-width: 1280px) {

	.double-header > h2 {
		font-size: 1.3em;
		letter-spacing: .15em;
		margin: 0;
		margin-top: 2rem;
	}

	.double-header > h3 {
		font-size: 3em;
		margin-bottom: 3rem;
	}

	.header-large {
		font-size: 4em;
	}

	#main-home .double-header > h3 {
		font-size: 2em;
	}
}

/*////////////////////
	GLOBAL COLOUR
////////////////////*/

html {
	background-color: var(--background-main);
}

.content-white,
.content-white a,
.content-white li,
.content-white p,
.content-white h1,
.content-white h2,
.content-white h3,
.content-white h4,
.content-white h5,
.content-white h6 {
	color: var(--grey-f4);
}

.content-white .link-button a {
	color: var(--grey-f4);
	border: 1px solid var(--grey-f4);
	background-color: rgba(255, 255, 255, .2);
}

.content-white .link-button a:hover {
	background-color: rgba(255, 255, 255, .4);
}

/*// COLOUR VARIABLES //*/

:root {
	--background-main: #f6f7f5;
	--background-light: white;
	--font-main: #66635e;
	--font-dark: #363636;
	--font-light: white;
	--font-green: #919583;
	--grey-f4: #f4f4f4;
	--grey-ea: #eaeaea;
	--grey-77: #777777;
}

/*// GRADIENT CLASSES //*/

.gradient-down::after {
	display: block;
	position: absolute;
	bottom: 0;
	height: 20vh;
	width: 100%;
	content: '';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&0+0,1+95 */
	background: -moz-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6f7f5', endColorstr='#f6f7f5', GradientType=0);
	/* IE6-9 */
}

.gradient-up::before {
	display: block;
	position: absolute;
	bottom: 0;
	height: 20vh;
	width: 100%;
	content: '';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&1+5,0+100 */
	background: -moz-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 5%, rgba(246, 247, 245, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 5%, rgba(246, 247, 245, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 5%, rgba(246, 247, 245, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f5', endColorstr='#00f6f7f5', GradientType=0);
	/* IE6-9 */
}

@media screen and (orientation:landscape) {
	.gradient-down::after {
		height: 50vh;
	}
	.gradient-up::before {
		height: 50vh;
	}
}

@media screen and (min-width: 1280px) {

	.gradient-up::before {
		display: none;
	}

	.gradient-down::after {
		display: none;
	}
}

/*////////////////////
	SITE-WIDE STYLING
////////////////////*/

.sm-list {
	text-align: center;
}

.sm-list li {
	display: inline-block;
	font-size: 1.3em;
}

.sm-list li a {
	padding: 0 .5em;
}

.hr-left {
	margin-left: 0;
	margin-top: 2.5rem;
	margin-bottom: 2.4rem;
	max-width: 140px;
	height: 1px;
	background-color: var(--font-main);
	border: 0;
}

@media screen and (max-width:1279px) {

	.hr-left {
		display: none;
	}
}

.hr-center {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	margin: 3rem auto;
	max-width: 400px;
}

@media screen and (max-width: 1279px) {
	main > section {
		margin: 5% 0;
	}

	main > section:first-child {
		margin-top: 0;
	}

	main > section:last-child {
		margin-bottom: 0;
	}
}

@media screen and (orientation: landscape) and (max-width: 1279px) {
	.first-image {
		margin-left: -80px;
	}
}

/* Site-wide widescreen response */

@media screen and (min-width: 1280px) {

	main {
		margin-left: 20vw;
	}

	.first-image {
		margin: 0;
	}
	/*
	.fixed-image {
		display: none;
	}
*/
}

/*// CONTENT //*/

.content {
	padding-left: 2vw;
	padding-right: 2vw;
	text-align: center;
}

.content li {
	text-transform: none;
	padding: .7em 0;
}

.content p {
	line-height: 1.5rem;
}

@media screen and (max-width:355px) {
	.content {
		padding-left: .5vw;
		padding-right: .5vw;
	}
}

@media screen and (min-width: 1280px) {

	.content {
		text-align: left;
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.ribbon-container {
		flex: 0 0 40%;
		max-width: 40%;
		height: 100vh;
		background: rgba(256, 255, 257, .8);
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	.ribbon-container-bottom {
		flex: 0 0 30%;
		background: rgba(0, 0, 0, .3);
		align-items: flex-end;
		justify-content: flex-end;
	}

	.ribbon-container-right {
		margin-left: 37vw;
		padding-top: 10vh;
		padding-bottom: 30vh;
	}

	.ribbon-container-right .fixed-image {
		width: 37vw;
		z-index: 5;
	}
}

/*// BUTTONS //*/

.link-button {
	text-align: center;
	margin: 3em 2em;
}

.link-button a {
	border: 1px solid var(--grey-77);
	padding: .5em 1em;
	color: var(--grey-77);
	transition: border-color .3s linear, color .3s linear, background .3s linear;
	white-space: nowrap;
	text-transform: uppercase;
}

.link-button a:hover {
	border-color: var(--dark-grey);
	color: var(--dark-grey);
}

@media screen and (min-width: 1280px) {
	.link-button {
		text-align: left;
	}
}

.button-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

@media screen and (max-width: 620px) {
	.button-container .link-button {
		margin: 1.5em 1em;
	}
}

/*// IMAGE CLASSES //*/

.fixed-image {
	position: relative;
}

.fixed-image img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1279px) and (orientation: landscape) {

	.fixed-image {
		height: 100vh;
		overflow: hidden;
	}

	.fixed-image img {
		width: 100%;
		height: auto;
	}
}

@media screen and (min-width:1280px) {
	.fixed-image {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 20vw;
		right: 0;
		z-index: -100;
		overflow: hidden;
	}

	.fixed-image img {
		height: 100vh;
		width: auto;
		margin-left: 50%;
		transform: translateX(-50%);
		z-index: -100;
	}

	.image-43 img {
		height: auto;
		width: 100%;
	}
}

/* Fullscreen button classes */

.fullscreen-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 300;
	background: rgba(0, 0, 0, 0.8);
}

.fullscreen-button-container {
	height: 100vh;
	width: 100vw;
	position: relative;
}

.fullscreen-button {
	background: none;
	color: white;
	border: none;
	z-index: 10000;
	font-size: 3em;
	font-weight: bold;
}

#previousImage {
	position: absolute;
	left: 25px;
	top: 50%;
}

#nextImage {
	position: absolute;
	right: 25px;
	top: 50%;
}

#fullscreenIcon {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

/* Fullscreen image classes */

.fullscreen-image {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
}

.fullscreen-image figure {
	height: 90vh;
	max-width: 90vw;
	margin: 5vh auto;
	text-align: center;
	overflow: hidden;
}

.fullscreen-image img {
	height: auto !important;
	width: 100% !important;
}


/*// POSITIONING AND SPACING //*/

.center {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.position-underlay {
	position: relative;
}

.position-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.remove-header {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.vertical-center {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/*////////////////////
	HEADER
////////////////////*/

/*// NAV BURGER //*/

#burger-icon {
	width: 40px;
	height: 31px;
	margin-right: 5%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#burger-icon span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: var(--font-main);
	border-radius: 8px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#burger-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-icon span:nth-child(2) {
	top: 12px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-icon span:nth-child(3) {
	top: 24px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-icon.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: px;
	left: 5px;
}

#burger-icon.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
	left: 5px;
}

#burger-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 28px;
	left: 5px;
}

/*// HEADER NAVIGATION //*/

.navbar {
	position: fixed;
	width: 100%;
	height: 80px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	z-index: 8;
	transition: background-color .4s linear;
}

.navbar-logo {
	display: none;
	z-index: 10;
}

#navbarLogo {
	height: 40px;
}

#navbarRose {
	width: 70px;
	margin-bottom: 10%;
}

.main-logo {
	height: 50vh;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.main-logo a {
	height: 60%;
}

.main-logo img {
	height: 100%;
}

.nav-overlay {
	z-index: 6;
	padding-top: 80px;
}

.header-nav {
	height: 80%;
}

/* Accordion */

.accordion {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
	justify-content: space-around;
	text-align: center;
}

.accordion > li {
	flex: 0 0 auto;
	z-index: 11;
	padding: 1em 0;
}

.accordion > li > a {
	flex: 0 0 auto;
	z-index: 11;
	color: var(--font-main);
	padding: 1em;
	transition: color .3s linear;
}

.accordion a:hover {
	color: var(--font-dark);
}

.accordion .toggle:hover {
	color: black;
}

.accordionInner {
	overflow: hidden;
	display: none;
	margin-left: 5%;
	margin-top: .5em;
}

.accordionInner > li > a {
	display: block;
	font-size: .9em;
	padding: .6em;
}

/* Header footer */

.header-footer {
	text-align: center;
	height: 20%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.header-footer .sm-list {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-bottom: 1em;
	height: 20%;
}

/* Header nav toggle classes */

.activeSection {
	font-weight: bold;
}

.activePage {
	font-weight: bold;
}

/* Header nav landscape response */

@media screen and (max-height: 450px) and (orientation: landscape) {
	.nav-overlay {
		padding-top: 40px;
	}
}

@media screen and (orientation:landscape) and (max-width: 1279px) {

	main {
		margin-left: 80px;
	}

	.navbar {
		width: 80px;
		height: 100%;
		flex-flow: column-reverse;
	}

	#burger-icon {
		margin: 30% 0 0 0;
	}

	#navbarLogo {
		display: none;
	}

	.main-logo {
		min-height: 80vh;
	}

	.nav-overlay {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&1+15,0.9+30 */
		background: -moz-linear-gradient(left, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f5', endColorstr='#e6f6f7f5', GradientType=1);
		/* IE6-9 */
	}

	.accordion {
		margin-left: 80px;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.accordion > li {
		flex: 0 0 50%;
		align-self: center;
	}

	.accordion > li:last-child {
		display: none;
	}

	.header-footer {
		margin-left: 80px;
	}
}

/* Header nav portrait response */

@media screen and (orientation:portrait) {

	#navbarLogo {
		margin-left: 30%;
	}

	.nav-overlay {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&1+15,0.9+30 */
		background: -moz-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f5', endColorstr='#e6f6f7f5', GradientType=0);
		/* IE6-9 */
	}

	.header-footer .footer-phone {
		display: block;
	}
}

/* Header nav items hidden below widescreen */

@media screen and (max-width:1279px) {

	.nav-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
	}
}

/* Header nav widescreen (short) response */

@media screen and (min-width: 1280px) and (max-height: 1023px) {
	.accordion > li > a {
		padding: .7em;
	}
}

/* Header widescreen response */

@media screen and (min-width:1280px) {

	.side-header {
		width: 20vw;
		height: 100vh;
		position: fixed;
		z-index: 20;
		background-color: #f6f5f7;
	}

	#burger-icon {
		display: none;
	}

	.navbar {
		display: none;
	}

	.main-logo {
		width: 100%;
		height: 30vh;
	}

	.main-logo a {
		height: 100%;
		max-width: 60%;
		margin: 10% auto 5% auto;
		justify-content: flex-end;
	}

	.main-logo img {
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}

	.nav-overlay {
		background: none;
		height: 70vh;
		padding-top: 0;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
	}

	.header-nav {
		height: 80%;
	}

	.accordion {
		margin-left: 15%;
		flex-flow: column;
		justify-content: center;
		text-align: left;
		padding-top: 0;
	}

	.accordion > li {
		flex: 0 0 auto;
		padding: .5em 0;
	}

	.accordion > li > a {
		padding: .5em;
	}

	.header-footer {
		margin-left: 15%;
		height: 20%;
		text-align: left;
	}

	.header-footer .sm-list {
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
	}

	.header-footer .sm-list a {
		padding: .3em;
	}

	.header-footer address a {
		display: block;
		font-size: .9em;
	}
}

/*////////////////////
	HOME PAGE
////////////////////*/

#main-home a,
#main-home li {
	text-transform: uppercase;
}


/* Home page below widescreen */

@media screen and (max-width:1279px) {

	.image-tall {
		overflow: hidden;
		height: 50vh;
	}

	.image-tall img {
		width: auto;
		height: 100%;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 1279px) and (orientation: landscape) {

	.image-tall {
		min-height: 100vh;
	}

	.image-tall img {
		width: 100%;
		height: auto;
	}
}

/* Home page widescreen response */

@media screen and (min-width: 1280px) {

	#main-home > section {
		height: 100vh;
	}

	.ribbon-container .link-button {
		margin-left: 2.4em;
	}

	#main-home .content p {
		margin-left: 2em;
		text-align: left;
	}

	#main-home .content {
		width: 85%;
	}

	#home-booking .content {
		width: 100%;
	}

	#homeRestaurantBG {
		display: block;
	}

	#home-booking .position-overlay {
		height: 100vh;
		position: static;
	}

	#home-booking .content p {
		margin-left: 0;
		font-size: 1.5em;
		line-height: 1.5em;
	}

}

/*////////////////////
	BNB PAGE
////////////////////*/

.flex-container-room {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 1em;
	margin-top: -50px;
	padding: 0 1em;
	background-color: white;
	border-bottom: 1px solid #66635e;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
	/* IE6-9 */
}

@media screen and (max-width: 1279px) {
	.flex-container-room:before,
	.flex-container-room:after {
		content: "";
		position: absolute;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#66635e));
		background-image: -webkit-linear-gradient(transparent, #66635e);
		background-image: -moz-linear-gradient(transparent, #66635e);
		background-image: -o-linear-gradient(transparent, #66635e);
		background-image: linear-gradient(transparent, #66635e);
		top: 0;
		bottom: -1px;
		width: 1px;
	}

	.flex-container-room:before {
		left: -1px;
	}

	.flex-container-room:after {
		right: -1px;
	}
}

.room-button-container {
	display: none;
}

.link-button-airbnb {
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: center;
	text-transform: uppercase;
}

.link-button-airbnb a {
	border: 1px solid var(--grey-77);
	padding: .5em 1em;
	color: var(--grey-77);
	white-space: nowrap;
	transition: border-color .3s linear, color .3s linear, filter .3s linear;
	filter: grayscale(100);
}

.link-button-airbnb a:hover {
	border: 1px solid var(--font-dark);
	color: var(--font-dark);
	filter: grayscale(0);
}

.link-button-airbnb img {
	vertical-align: bottom;
	height: 24px;
}

.room-logo img {
	max-height: 100px;
	max-width: 100%;
}

#rooms-ivy .flex-container-room {
	margin-top: -80px;
}

#rooms-ivy .room-logo img {
	max-height: 160px;
}

.room-info p {
	white-space: nowrap;
}

.room-description p {
	max-width: 600px;
	margin: auto;
}

/* BnB page extra small response */

@media screen and (max-width: 390px) {
	.flex-container-room {
		margin-left: .5em;
		margin-right: .5em;
		padding: 0 .5em;
	}

	.room-info p {
		font-size: .85em;
		letter-spacing: .05em;
	}

}

/* BnB page tablet response */

@media screen and (min-width: 768px) {

	.flex-container-room {
		flex-flow: row wrap;
		margin-top: -20px;
	}

	#bnb-ivy .flex-container-room {
		margin-top: -40px;
	}

	.room-logo {
		flex: 0 0 40%;
	}
	.room-info {
		flex: 0 0 55%;
	}
	.room-info p {
		text-align: right;
	}
	.room-description {
		flex: 0 0 100%;
	}
}

@media screen and (max-width: 1279px) {

	.section-room:last-of-type {
		margin-bottom: 2em;
	}
}

/* BnB page widescreen response */

@media screen and (min-width: 1280px) {

	#main-bnb > section {
		height: 100vh;
	}

	#main-bnb .ribbon-container {
		height: 90vh;
		margin: 5vh;
		text-align: left;
	}

	#bnb-intro,
	#bnb-breakfast {
		display: flex;
		flex-flow: row;
	}

	.section-room {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
	}

	.flex-container-room {
		flex-flow: row;
		justify-content: space-around;
		height: 20vh;
		margin: 0;
		padding: 0;
		border: none;
		background: rgba(0, 0, 0, .5);
	}

	.flex-container-room p {
		color: white;
	}

	.link-button-airbnb {
		position: absolute;
		right: 50px;
		bottom: 25vh;
	}

	.link-button-airbnb a {
		border: 1px solid var(--light-font);
		padding: .5em 1em;
		color: var(--light-font);
		transition: border-color .3s linear, color .3s linear, filter .3s linear;
		filter: grayscale(100);
	}

	.link-button-airbnb a:hover {
		border: 1px solid var(white);
		color: var(white);
	}

	.room-button-container {
		display: block;
		flex: 0 0 12.5%;
	}

	.room-button {
		background: none;
		border: none;
		color: white;
		display: block;
		margin-left: 15%;
		white-space: nowrap;
	}

	.room-button:hover {
		filter: brightness(0);
	}

	.previousRoom {
		margin-bottom: 1em;
	}

	.previousRoom span:first-of-type,
	.nextRoom span:first-of-type {
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		vertical-align: bottom;
	}

	.previousRoom span:first-of-type {
		background-image: url(../images/icon/arrow_up.png);
	}

	.nextRoom span:first-of-type {
		background-image: url(../images/icon/arrow_down.png);
	}

	.previousRoom span:nth-child(2),
	.nextRoom span:nth-child(2) {
		display: inline-block;
		text-align: left;
		padding-left: 1em;
	}

	.room-logo {
		flex: 0 0 15%
	}
	.room-logo img {
		filter: brightness(100);
	}
	.room-info {
		flex: 0 0 33%;
		order: 5;
	}

	.room-info p {
		text-align: left;
	}

	.room-description {
		flex: 0 0 33%;
		order: 4;
	}

	.room-description p {
		text-align: left;
	}

}

/*////////////////////
	MENU PAGES
////////////////////*/

.main-menu .content {
	text-align: center;
}

.menu-select {
	text-align: center;
	background-color: var(--grey-f4);
	border-top: 1px solid var(--grey-77);
	border-bottom: 1px solid var(--grey-77);
	padding-bottom: 1em;
}

.menu-select h3 {
	font-style: italic;
	margin-bottom: 0;
}

.menu-select li {
	padding: 1em 0;
	display: inline-block;
	text-transform: uppercase;
}

.menu-select li > span {
	padding-left: .5em;
}

.menu-select a {
	border-bottom: 1px solid black;
}

.menu-select-bottom {
	margin-top: 3em;
}

.menu-select-bottom ul {
	margin-top: 1em;
}

.menu-title {
	font-family: antro;
	font-size: 3em;
	text-transform: none;
	text-align: center;
	padding: .5em;
}

.menu-legend {
	margin-bottom: 2em;
	text-align: center;
	letter-spacing: .1em;
	font-size: 1em;
}

.menu-legend img {
	padding: 0 .3em 0 .5em;
	vertical-align: middle;
}

.menu-legend .icon-vegetarian {
	padding-left: 0;
}

@media screen and (orientation: landscape) and (max-width: 1279px) {
	.menu-header {
		margin-left: -80px;
	}
}

@media screen and (max-width: 350px) {
	.menu-legend {
		font-size: .8em;
	}
	.menu-legend img {
		padding: 0 .2em 0 .3em;
	}
}

.icon-vegetarian {
	height: 11px;
	vertical-align: middle;
}

.icon-vegan {
	height: 12px;
	vertical-align: middle;
}

.icon-seasonal {
	height: 16px;
	vertical-align: middle;
}

.icon-spicy {
	height: 15px;
	vertical-align: middle;
}

.section-dish {
	margin-bottom: 2em;
}

.dish-header {
	padding-bottom: 1em;
}

.dish-title {
	margin: auto;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
	font-style: italic;
	white-space: nowrap;
	overflow: hidden;
}

.dish-title::before {
	content: url(../images/icon/line_left_short.png);
	position: relative;
	top: -5px;
	padding-right: 10px;
}

.dish-title::after {
	content: url(../images/icon/line_right_short.png);
	position: relative;
	top: -5px;
	padding-left: 10px;
}

@media screen and (min-width: 500px) {
	.dish-title::before {
		content: url(../images/icon/line_left.png);
	}

	.dish-title::after {
		content: url(../images/icon/line_right.png);
	}
}

.dish-price {
	font-size: .8em;
	color: var(--grey-77)
}


/* Menu pages widescreen response */

@media screen and (min-width: 1280px) {

	.main-menu .ribbon-container-right {
		margin-left: 35vw;
	}

	.main-menu .ribbon-container-right .fixed-image {
		width: 35vw;
	}

	.menu-select {
		display: none;
	}

	.menu-title {
		background-color: var(--background-main);
		margin-top: 0;
	}

	.dish-title {
		padding: 2em 0 1em 0;
	}

	.main-menu::after {
		content: '';
		position: fixed;
		bottom: 0;
		left: 55vw;
		width: 45vw;
		height: 40vh;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&0+0,1+95 */
		background: -moz-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6f7f5', endColorstr='#f6f7f5', GradientType=0);
		/* IE6-9 */
	}
}

/* DRINK MENU PAGE */

.drink-title {
	font-weight: normal;
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: .8em;
}

/* WINE LIST PAGE */

#main-menu-wine .dish-title {
	margin: 2em 0 .5em 0;
}

#main-menu-wine .dish-title:first-child {
	margin-top: 0;
}

/* BREAKFAST MENU PAGE */

.menu-breakfast-information p:nth-child(1) {
	color: var(--grey-77);
	font-style: italic;
}

.menu-breakfast-information p:nth-of-type(2),
.menu-breakfast-information p:nth-of-type(4) {
	color: var(--grey-77);
}

.menu-breakfast-sets h6 {
	font-family: antro;
	font-size: 2em;
	margin: 1em 0 .5em 0;
}


/*////////////////////
	OUR STORY PAGE
////////////////////*/

#main-story {
	background-color: var(--background-light);
}

#main-story .double-header:first-child {
	padding-top: 3em;
}

#main-story .content {
	padding-bottom: 3em;
}

#main-story .gradient-down::after {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+95 */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
	/* IE6-9 */
}

#main-story p {
	line-height: 1.5em;
	color: black;
}

@media screen and (max-width: 1279px) {

	#main-story .hr-left {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1279px) and (orientation: landscape) {
	#story-about {
		margin-left: -80px;
	}

	#story-about .content {
		margin-left: 80px;
	}

	#story-about header {
		margin-left: 80px;
	}

	#story-three p:last-child {
		padding-bottom: 2em;
	}
}

/* Story page widescreen response */

@media screen and (min-width: 1280px) {

	.section-story::after {
		content: '';
		position: fixed;
		bottom: 0;
		left: 57vw;
		width: 43vw;
		height: 40vh;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+95 */
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
		/* IE6-9 */
	}
}

/*////////////////////
	RESERVATIONS PAGE
////////////////////*/

#main-reservations ul {
	padding-left: 2em;
}

#main-reservations li {
	list-style-type: disc;
}

@media screen and (max-width: 1279px) {

	#main-reservations {
		margin-bottom: 4em;
	}

	#main-reservations li {
		text-align: left;
	}
}

/* Reservations page widescreen response */

@media screen and (min-width: 1280px) {}

/*////////////////////
	CONTACT PAGE
////////////////////*/

.contact-images {
	display: flex;
	flex-flow: column;
}

.contact-images figure {
	height: 40vh;
	overflow: hidden;
	margin-bottom: .5em;
}

.contact-images img {
	width: auto;
}


@media screen and (min-width: 1280px) {
	.contact-images {
		display: flex;
		flex-flow: row wrap;
	}

	.contact-images figure {
		max-height: 240px;
		overflow: hidden;
		margin-bottom: 0;
	}

	.contact-sign {
		flex: 0 0 60%;
	}

	.contact-sign img {
		width: 100%;
		height: auto;
		padding-right: 1em;
	}

	.contact-maps {
		flex: 0 0 40%;
	}
}

/*////////////////////
	MOBILE FOOTER
////////////////////*/

@media screen and (min-width: 1280px) {
	.mobile-footer {
		display: none;
	}
}

.mobile-footer {
	height: 220px !important;
	text-align: center;
	background-color: lightgray;
}

.mobile-footer h2,
.mobile-footer a,
.mobile-footer span {
	color: var(--font-main);
}

.mobile-footer h2:hover,
.mobile-footer a:hover,
.mobile-footer span:hover {
	transition: color .3s linear;
	color: var(--dark-grey);
}

.mobile-footer h2 a {
	text-transform: none;
	font-size: 1.5rem;
}

.mobile-footer .sm-list {
	margin-bottom: 1em;
}

.mobile-footer .sm-list li a {
	padding: 0 .3em;
}

.mobile-footer address a {
	text-transform: none;
}

.mobile-footer .footer-address {
	display: block;
}

.footer-email,
.footer-phone {
	display: inline-block;
	white-space: nowrap;
}

@media screen and (max-width: 1279px) and (orientation: landscape) {
	.mobile-footer {
		margin-left: 80px;
	}
}

@media screen and (min-width: 1280px) {
	.mobile-footer {
		height: 300px;
		margin-left: 20vw;
	}
}
