/*//

emaidalat.com

BREAKPOINTS:

mobile <= 550px
tablet <= 768px
desktop <= 1024px
widescreen <= 1280
hd <= 1600

//*/

/*////////////////////
	RESET
////////////////////*/

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

figure {
	margin: 0;
}

html {
	font-size: 16px;
}

/*////////////////////
	GLOBAL TYPOGRAPHY
////////////////////*/

/* FONTS */

@font-face {
	font-family: antro;
	src: url(../fonts/Antro_Vectra.otf);
}
@font-face {
	font-family: coffee;
	src: url(../fonts/coffee+tea.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Amiri');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
	font-family: 'Amiri', serif;
	letter-spacing: .08rem;
	color: var(--font-dark);
}

h2 {
	font-weight: normal;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

h3 {
	font-weight: normal;
	font-size: 1.3rem;
}

p,
a,
li {
	font-size: .9rem;
	line-height: 1.1rem;
	letter-spacing: .2rem;
}

@media screen and (min-width:450px) {
	p,
	a,
	li {
		font-size: 1rem;
	}
}

@media screen and (min-width:768px) {
	p,
	a,
	li {
		font-size: 1.05rem;
	}
}

@media screen and (min-width:1024px) {
	p,
	a,
	li {
		font-size: 1.1rem;
	}
}

@media screen and (min-width:1280px) {
	p,
	a,
	li {
		font-size: 1.15rem;
	}
}

@media screen and (min-width:1600px) {
	p,
	a,
	li {
		font-size: 1.2rem;
	}
}

/*////////////////////
	GLOBAL COLOUR
////////////////////*/

html {
	background-color: var(--background-main);
}

.content-white,
.content-white a,
.content-white li,
.content-white p,
.content-white h1,
.content-white h2,
.content-white h3,
.content-white h4,
.content-white h5,
.content-white h6 {
	color: white;
}

/*// COLOUR VARIABLES //*/

:root {
	--background-main: #f6f7f5;
	--font-main: #66635e;
	--font-dark: #363636;
	--font-light: white;
	--grey-f4: #f4f4f4;
	--grey-ea: #eaeaea;
	--grey-77: #777777;
}

/*// GRADIENT CLASSES //*/

.gradient-down::after {
	display: block;
	position: relative;
	margin-top: -19.9vh;
	height: 20vh;
	width: 100%;
	content: '';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&0+0,1+95 */
	background: -moz-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6f7f5', endColorstr='#f6f7f5', GradientType=0);
	/* IE6-9 */
}

.gradient-up::before {
	display: block;
	position: relative;
	margin-bottom: -19.9vh;
	height: 20vh;
	width: 100%;
	content: '';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&1+5,0+100 */
	background: -moz-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 5%, rgba(246, 247, 245, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 5%, rgba(246, 247, 245, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 5%, rgba(246, 247, 245, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f5', endColorstr='#00f6f7f5', GradientType=0);
	/* IE6-9 */
}

@media screen and (orientation:landscape) {
	.gradient-down::after {
		margin-top: -49vh;
		height: 50vh;
	}
	.gradient-up::before {
		margin-bottom: -49vh;
		height: 50vh;
	}
}

@media screen and (min-width: 1280px) {

	.gradient-up::before {
		display: none;
	}

	.gradient-down::after {
		display: none;
	}
}

/*////////////////////
	SITE-WIDE CLASSES
////////////////////*/


@media screen and (max-width: 1279px) {
	main > section {
		margin: 5% 0;
	}

	main > section:first-child {
		margin-top: 0;
	}

	main > section:last-child {
		margin-bottom: 0;
	}
}

.sm-list {
	text-align: center;
}

.sm-list li {
	display: inline-block;
	font-size: 1.3em;
}

.sm-list li a {
	padding: 0 .5em;
}

/*// CONTENT //*/

.content {
	padding: 0 5%;
	text-align: center;
}

.content h3 {
	margin-top: 0;
}

@media screen and (max-width:355px) {

	.content {
		padding: 0 2%;
	}
}

@media screen and (min-width: 1280px) {

	.content {
		text-align: left;
		padding: 0 10%;
	}

	.content h3 {
		font-size: 1.7rem;
	}

	.content-container {
		flex: 0 0 40%;
		max-width: 40%;
		height: 100vh;
		background: rgba(256, 255, 257, .8);
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	.content-container-card {
		height: 90vh;
		margin: 5vh;
	}

	.content-container-wide {
		height: 100vh;
		position: static;
	}

	.content-container-bottom {
		flex: 0 0 30%;
		background: rgba(0, 0, 0, .3);
		align-items: flex-end;
		justify-content: flex-end;
	}
}

/*// BUTTONS //*/

div[class^='link-button'] {
	text-align: center;
	margin: 2em;
}

@media screen and (max-width: 400px) {
	div[class^='link-button'] {
		margin: 2em 1em 1em 1em;
	}
}

.link-button a {
	border: 1px solid var(--grey-77);
	padding: .5em 1em;
	color: var(--grey-77);
	transition: border-color .3s linear, color .3s linear;
	white-space: nowrap;
}

.link-button a:hover {
	border-color: var(--dark-grey);
	color: var(--dark-grey);
}

.link-button-light a {
	color: var(--grey-f4);
	border: 1px solid var(--grey-f4);
	background-color: rgba(255, 255, 255, .2);
	padding: .5em 1em;
	transition: background-color .3s linear, color .3s linear;
	white-space: nowrap;
}

.link-button-light a:hover {
	background-color: rgba(255, 255, 255, .4);
}

.link-button-airbnb {
	margin-top: 1em !important;
	margin-bottom: 2em !important;
}

.link-button-airbnb a {
	border: 1px solid var(--grey-77);
	padding: .5em 1em;
	color: var(--grey-77);
	transition: border-color .3s linear, color .3s linear, filter .3s linear;
	filter: grayscale(100);
}

.link-button-airbnb a:hover {
	border: 1px solid var(--font-dark);
	padding: .5em 1em;
	color: var(--font-dark);
	filter: grayscale(0);
}

.link-button-airbnb img {
	vertical-align: bottom;
	height: 24px;
}

@media screen and (max-width: 390px) {
	
	.link-button-airbnb {
		font-size: .9em;
	}
}

@media screen and (min-width: 1280px) {

	.content > .link-button {
		text-align: left;
		margin-top: 4em;
	}

	.content div[class^='link-button'] {
		text-align: center;
		margin-left: 0;
	}
	
	.link-button-airbnb {
		position: absolute;
		right: 50px;
		bottom: 25vh;
	}

	.link-button-airbnb a {
		border: 1px solid var(--light-font);
		padding: .5em 1em;
		color: var(--light-font);
		transition: border-color .3s linear, color .3s linear, filter .3s linear;
		filter: grayscale(100);
	}

	.link-button-airbnb a:hover {
		border: 1px solid var(white);
		color: var(white);
	}
	
	.room-buttons {
		display: block;
		flex: 0 0 12.5%;
	}

	.room-button {
		background: none;
		border: none;
		color: white;
		display: block;
		margin-left: 2em;
	}

	.room-button:hover {
		filter: brightness(0);
	}
}

/*// IMAGE CLASSES //*/

@media screen and (min-width:1280px) {
	.fixed-image {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 20vw;
		right: 0;
		z-index: -100;
		overflow: hidden;
	}

	.fixed-image img {
		height: 100vh;
		width: auto;
		margin-left: 50%;
		transform: translateX(-50%);
		z-index: -100;
	}

	.image-43 img {
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 1279px) {
	.mobile-image img {
		width: 100%;
	}
}

.image-tall {
	overflow: hidden;
}

<<<<<<< HEAD
@media screen and (min-width:1280px) {
	header {
		width: 20vw;
		height: 100vh;
		position: fixed;
		z-index: 20;
		background-color: #f6f5f7;
=======
@media screen and (orientation:portrait) {
	.image-tall img {
		margin-left: 50%;
		transform: translateX(-50%);
>>>>>>> master
	}
}

@media screen and (min-width:450px) and (max-width: 1279px) {
	.image-tall img {
		width: 100%;
	}
}

/*// POSITIONING AND SPACING //*/

.center {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.position-underlay {
	position: relative;
}

.position-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.remove-header {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.vertical-center {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/*// SITE-WIDE WIDESCREEN RESPONSE //*/

@media screen and (min-width: 1280px) {

	main {
		margin-left: 20vw;
	}

	.first-image {
		margin: 0;
	}
	/*
	.fixed-image {
		display: none;
	}
*/
	.section-full {
		display: flex;
		flex-flow: row;
	}


	.section-room {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
	}

	.section-spaced {
		margin: 0;
	}
}

/*////////////////////
	HEADER
////////////////////*/

/*// NAV BURGER //*/

#burger-icon {
	width: 40px;
	height: 31px;
	margin-right: 5%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#burger-icon span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: var(--font-main);
	border-radius: 8px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#burger-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-icon span:nth-child(2) {
	top: 12px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-icon span:nth-child(3) {
	top: 24px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-icon.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: px;
	left: 5px;
}

#burger-icon.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
	left: 5px;
}

#burger-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 28px;
	left: 5px;
}

/*// HEADER NAVIGATION //*/

.navbar {
	position: fixed;
	width: 100%;
	height: 80px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	z-index: 8;
	transition: background-color .4s linear;
}

.navbar-logo {
	display: none;
	z-index: 10;
}

#navbarLogo {
	height: 40px;
}

#navbarRose {
	width: 70px;
	margin-bottom: 10%;
}

.main-logo {
	height: 50vh;
	min-height: 300px;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.main-logo a {
	height: 60%;
}

.main-logo img {
	height: 100%;
}

.nav-overlay {
	z-index: 6;
	padding-top: 80px;
}

.header-nav {
	height: 80%;
}

.accordion {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
	justify-content: space-around;
	text-align: center;
}

.accordion > li {
	flex: 0 0 auto;
	z-index: 11;
	padding: 1em 0;
}

.accordion > li > a {
	flex: 0 0 auto;
	z-index: 11;
	color: var(--font-main);
	padding: 1em;
	transition: color .3s linear;
}

.accordion a:hover {
	color: var(--font-dark);
}

.accordion .toggle:hover {
	color: black;
}

.accordionInner {
	overflow: hidden;
	display: none;
	margin-left: 5%;
	margin-top: 1em;
}

.accordionInner > li > a {
	display: block;
	font-size: .9em;
	padding: .6em;
}

.nav-overlay .sm-list {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 20%;
}

/* Header nav toggle classes */

.activeSection {
	font-weight: bold;
}

.activePage {
	font-weight: bold;
}

/* Header nav landscape response */

@media screen and (max-height: 350px) and (orientation: landscape) {
	.nav-overlay {
		padding-top: 40px;
	}
}

@media screen and (orientation:landscape) and (max-width: 1279px) {

	main {
		margin-left: 80px;
	}

<<<<<<< HEAD
@media screen and (min-width:1280px) {
	.fixed-image {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 20vw;
		right: 0;
		z-index: -100;
		overflow: hidden;
=======
	.navbar {
		width: 80px;
		height: 100%;
		flex-flow: column-reverse;
>>>>>>> master
	}

	#burger-icon {
		margin: 30% 0 0 0;
	}

	#navbarLogo {
		display: none;
	}

	.nav-overlay {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&1+15,0.9+30 */
		background: -moz-linear-gradient(left, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f5', endColorstr='#e6f6f7f5', GradientType=1);
		/* IE6-9 */
	}

	.accordion {
		margin-left: 80px;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.accordion > li {
		flex: 0 0 50%;
		align-self: center;
	}

	.nav-overlay .sm-list {
		margin-left: 80px;
	}
}

/* Header nav portrait response */

@media screen and (orientation:portrait) {

	#navbarLogo {
		margin-left: 30%;
	}

	.nav-overlay {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&1+15,0.9+30 */
		background: -moz-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(246, 247, 245, 1) 0%, rgba(246, 247, 245, 1) 15%, rgba(246, 247, 245, 0.9) 30%, rgba(246, 247, 245, 0.9) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f5', endColorstr='#e6f6f7f5', GradientType=0);
		/* IE6-9 */
	}
}

/* Header nav items hidden below widescreen */

@media screen and (max-width:1279px) {

<<<<<<< HEAD
	main {
		margin-left: 20vw;
=======
	.nav-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
>>>>>>> master
	}

	.header-full {
		display: none
	}

	.hr-left {
		display: none;
	}
}

/* Header nav widescreen (short) response */

@media screen and (min-width: 1280px) and (max-height: 1023px) {
	.accordion > li > a {
		padding: .7em;
	}
}

/* Header widescreen response */

@media screen and (min-width:1280px) {

	.side-header {
		width: 20vw;
		height: 100vh;
		position: fixed;
		z-index: 20;
		background-color: #f6f5f7;
	}
<<<<<<< HEAD
	/*
	.fixed-image {
=======

	#burger-icon {
>>>>>>> master
		display: none;
	}

	.navbar {
		display: none;
	}

	.main-logo {
		width: 100%;
		height: 30%;
	}

	.main-logo a {
		margin-top: 25%;
	}

	.nav-overlay {
		background: none;
		height: 70%;
		padding-top: 0;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
	}

	.header-nav {
		height: 70%;
	}

	.accordion {
		margin-left: 15%;
		flex-flow: column;
		justify-content: center;
		text-align: left;
		padding-top: 0;
	}

	.accordion > li {
		flex: 0 0 auto;
		padding: .5em 0;
	}

	.accordion > li > a {
		padding: .5em;
	}

	.nav-overlay .sm-list {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
		margin-left: 20%;
		height: 30%;
	}

	.nav-overlay .sm-list a {
		padding: .3em;
	}
}

/*////////////////////
	HOME PAGE CLASSES
////////////////////*/

#main-home a,
#main-home li {
	text-transform: uppercase;
}

.hr-left {
	margin-left: 0;
	max-width: 100px;
	height: 1px;
	background-color: var(--font-main);
	border: 0;
}

.hr-center {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	margin: 2em auto;
	max-width: 400px;
}

.button-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

@media screen and (orientation:landscape) and (max-width:1279px) {
	main figure:first-of-type {
		margin-left: -80px;
	}
}

@media screen and (min-width: 1280px) {

	#main-home .content p {
		margin-left: 2em;
		text-align: left;
	}

	#main-home .content {
		width: 85%;
	}

	#homeRestaurantBG {
		display: block;
	}

	#main-home > section {
		height: 100vh;
	}
}

/*////////////////////
	BNB PAGE CLASSES
////////////////////*/

.flex-container-room {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 1em;
	margin-top: -50px;
	padding: 0 1em;
	background-color: white;
	border-bottom: 1px solid #66635e;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
	/* IE6-9 */
}

@media screen and (max-width: 1279px) {
	.flex-container-room:before,
	.flex-container-room:after {
		content: "";
		position: absolute;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#66635e));
		background-image: -webkit-linear-gradient(transparent, #66635e);
		background-image: -moz-linear-gradient(transparent, #66635e);
		background-image: -o-linear-gradient(transparent, #66635e);
		background-image: linear-gradient(transparent, #66635e);
		top: 0;
		bottom: -1px;
		width: 1px;
	}

	.flex-container-room:before {
		left: -1px;
	}

	.flex-container-room:after {
		right: -1px;
	}
}

.room-buttons {
	display: none;
}

.room-logo img {
	max-height: 100px;
	max-width: 100%;
}

#rooms-ivy .flex-container-room {
	margin-top: -80px;
}

#rooms-ivy .room-logo img {
	max-height: 160px;
}

.room-info p {
	white-space: nowrap;
}

.room-description p {
	max-width: 600px;
	margin: auto;
}

/* BnB page extra small response */

@media screen and (max-width: 390px) {
	.flex-container-room {
		margin-left: .5em;
		margin-right: .5em;
		padding: 0 .5em;
	}

	.room-info p {
		font-size: .85em;
	}

}

/* BnB page tablet response */

@media screen and (min-width: 768px) {

	.flex-container-room {
		flex-flow: row wrap;
		margin-top: -20px;
	}

	#bnb-ivy .flex-container-room {
		margin-top: -40px;
	}

	.room-logo {
		flex: 0 0 40%;
	}
	.room-info {
		flex: 0 0 55%;
	}
	.room-info p {
		text-align: right;
	}
	.room-description {
		flex: 0 0 100%;
	}
}

/* BnB page widescreen response */

@media screen and (min-width: 1280px) {

	#main-bnb > section {
		height: 100vh;
	}

	.flex-container-room {
		flex-flow: row;
		justify-content: space-around;
		height: 20vh;
		margin: 0;
		padding: 0;
		border: none;
		background: rgba(0, 0, 0, .5);
	}

	.flex-container-room p {
		color: white;
	}

<<<<<<< HEAD
	.room-buttons {
		display: block;
		flex: 0 0 12.5%;
	}

	.room-button {
		background: none;
		border: none;
		color: white;
		display: block;
		margin-left: 2em;
	}

	.room-button:hover {
		filter: brightness(0);
	}

=======
>>>>>>> master
	.previousRoom {
		margin-bottom: 1em;
	}

	.previousRoom span:first-of-type,
	.nextRoom span:first-of-type {
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		vertical-align: bottom;
	}

	.previousRoom span:first-of-type {
		background-image: url(../images/icon/arrow_up.png);
	}

	.nextRoom span:first-of-type {
		background-image: url(../images/icon/arrow_down.png);
	}

	.previousRoom span:nth-child(2),
	.nextRoom span:nth-child(2) {
		display: inline-block;
		text-align: left;
		padding-left: 1em;
	}

	.room-logo {
		flex: 0 0 15%
	}
	.room-logo img {
		filter: brightness(100);
	}
	.room-info {
		flex: 0 0 33%;
		order: 5;
	}

	.room-info p {
		text-align: left;
	}

	.room-description {
		flex: 0 0 33%;
		order: 4;
	}

	.room-description p {
		text-align: left;
	}

}

/*////////////////////
	MENU PAGES CLASSES
////////////////////*/

.menu-select {
	text-align: center;
	background-color: var(--grey-f4);
	border-top: 1px solid var(--grey-77);
	border-bottom: 1px solid var(--grey-77);
	padding-bottom: 1em;
}

.menu-select h3 {
	font-style: italic;
	margin-bottom: 0;
}

.menu-select li {
	padding: 1em 0;
	display: inline-block;
	text-transform: uppercase;
}

.menu-select li > span {
	padding-left: .5em;
}

.menu-select a {
	border-bottom: 1px solid black;
}

.menu-title {
	font-family: antro;
	font-size: 2.5em;
	text-transform: none;
	text-align: center;
}

.menu-legend {
	margin-bottom: 2em;
	text-align: center;
	letter-spacing: .1em;
	font-size: 1em;
}

.menu-legend img {
	padding: 0 .3em 0 .5em;
	vertical-align: middle;
}

.menu-legend .icon-vegetarian {
	padding-left: 0;
}

@media screen and (orientation: landscape) and (max-width: 1279px) {
	.menu-header {
		margin-left: -80px;
	}
}

@media screen and (max-width: 350px) {
	.menu-legend {
		font-size: .8em;
	}
	.menu-legend img {
		padding: 0 .2em 0 .3em;
	}
}

.icon-vegetarian {
	height: 11px;
	vertical-align: middle;
}
.icon-vegan {
	height: 12px;
	vertical-align: middle;
}
.icon-seasonal {
	height: 16px;
	vertical-align: middle;
}
.icon-spicy {
	height: 15px;
	vertical-align: middle;
}

.section-dish {
	margin-bottom: 2em;
}

.content-container-menu > ul > li {
	text-transform: none;
	padding: .7em 0;
	letter-spacing: .1em;
}

.dish-header {
	padding-bottom: 1em;
}

.dish-title {
	margin: auto;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
	font-style: italic;
}

.dish-title::before {
	content: url(../images/icon/line_left_short.png);
	position: relative;
	top: -5px;
	padding-right: 10px;
}

.dish-title::after {
	content: url(../images/icon/line_right_short.png);
	position: relative;
	top: -5px;
	padding-left: 10px;
}

.dish-price {
	font-size: .8em;
}

@media screen and (min-width: 500px) {
	.dish-title::before {
		content: url(../images/icon/line_left.png);
	}

	.dish-title::after {
		content: url(../images/icon/line_right.png);
	}
}

/* Menu page widescreen response */

@media screen and (min-width: 1280px) {

	.main-menu {
		margin-left: 50vw;
	}

	.main-menu .fixed-image {
		width: 30vw;
	}
	
	.menu-select {
		display: none;
	}
	
	.menu-title {
		background-color: var(--background-main);
		padding-top: 2em;
	}

	.dish-title {
		padding: 2em 0;
	}

	.main-menu::after {
		content: '';
		position: fixed;
		bottom: 0;
		left: 50vw;
		width: 50vw;
		height: 30vh;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f5+0,f6f7f5+100&0+0,1+95 */
		background: -moz-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(246, 247, 245, 0) 0%, rgba(246, 247, 245, 1) 95%, rgba(246, 247, 245, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6f7f5', endColorstr='#f6f7f5', GradientType=0);
		/* IE6-9 */
	}
}

<<<<<<< HEAD
/*// MENU PAGE //*/

.content-container-menu {
	text-align: center;
}

#main-menu h2 {
     overflow: hidden;
     text-align: center;
 }

.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 592px; /* half of limiter */
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

@media screen and (min-width: 1280px) {
	#main-menu .fixed-image {
		width: 30vw;
	}

	.content-container-menu {
		margin-left: 30vw;
	}
}


/*// FOOTER //*/
=======
/* Drink menu page */

#menu-coffee .dish-title {
	
}

.drink-title {
	font-weight: normal;
	font-size: 1em;
	text-transform: uppercase;
}

/*////////////////////
	FOOTER CLASSES
////////////////////*/
>>>>>>> master

footer {
	height: 220px !important;
	text-align: center;
	background-color: lightgray;
}

footer h2,
footer a,
footer span {
	color: var(--font-main);
	letter-spacing: .1em;
}

footer h2:hover,
footer a:hover,
footer span:hover {
	transition: color .3s linear;
	color: var(--dark-grey);
}

footer h2 a {
	text-transform: none;
	font-size: 1.5rem;
}

footer .sm-list {
	margin-bottom: 1em;
}

footer .sm-list li a {
	padding: 0 .3em;
}

address a {
	text-transform: none;
}

.footer-address {
	display: block;
}

.footer-email,
.footer-phone {
	display: inline-block;
}

@media screen and (max-width: 1279px) and (orientation: landscape) {
	footer {
		margin-left: 80px;
	}
}

@media screen and (min-width: 1280px) {
	footer {
		height: 300px;
		margin-left: 20vw;
	}
}
